@import "../../styles/variables.scss";

@mixin card($background: $color-light, $text: $text-dark) {
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 5px;
  letter-spacing: 3px;
  line-height: 25px;
  font-family: $font-1;
  background-color: $background;
  color: $text;
}

@mixin action($background: $color-dark, $text: $text-light) {
  text-decoration: none;
  float: left;
  margin-left: -30px;
  padding: 5px;
  display: block;
  font-weight: bold;
  width: 110px;
  border-radius: 5px;
  transform: rotate(-37.28deg);
  background-color: $background;
  color: $text;
}

.cardDark {
  @include card($color-dark, $text-light);
}
.cardLight {
  @include card($color-light, $text-dark);
}

.actionsLight a {
  @include action($color-light, $text-dark);
}
.actionsDark a {
  @include action($color-dark, $text-light);
}

.info {
  text-transform: uppercase;
  width: fit-content;
  padding: 30px;
  height: 150px;
  font-size: 20px;
  text-align: right;
  float: right;
}

.info::first-letter {
  font-size: 50px;
  color: $text-dark;
  font-weight: bold;
}

.image {
  background-color: rgb(235, 235, 235);
  width: 300;
  height: 200;
}
