@import "../../styles/variables.scss";
.layout {
  min-height: 100vh;
}
.image {
  min-width: 550px;
  width: 100vw;
  height: 300px;
  z-index: -1;
  position: relative;
  margin-bottom: -130px;
}
.header {
  margin-bottom: 20px;
  .title {
    margin-top: -250px;
    margin-left: 5vw;
    font-family: $font-1;
    text-transform: uppercase;
    display: inline-block;

    span {
      display: block;
      line-height: 1em;
      margin: 10px;
      color: $text-light;

      &:first-child {
        font-size: 2.5em;
        font-weight: 400;
      }
      &:last-child {
        font-size: 3.5em;
        font-weight: 800;
        margin-left: 10vw;
      }
    }
  }
  .link {
    a {
      text-decoration: none;
      margin-top: 60px;
      margin-left: 20px;
      font-family: $font-1;
      color: $text-light;
      text-transform: uppercase;
      display: inline-block;
      width: 100px;
      height: 40px;
      padding: 20px;
      padding-bottom: 25px;
      border-radius: 50%;
      font-weight: bolder;
      text-align: center;
    }
  }

  h2 {
    font-size: 1.2em;
    font-weight: 400;
  }
}

.pageContent {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 50px;
  @media only screen and (max-width: 450px) {
    padding-left: 25px;
  }
}

.footer {
  background: $color-dark-2;
  color: $text-light;
  padding: 40px;
  text-align: center;
  margin-top: auto;
  min-width: 470px;
}
