@import "../../styles/variables.scss";
.container {
  text-align: center;
  margin-top: 50px;
  a {
    font-family: $font-2;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 60px;
    color: $color-light1;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
    &:hover {
      font-size: larger;
    }
  }
}
