@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$font-1: "Comfortaa", cursive;
$font-2: "Poppins", sans-serif;
$color-light: #fce2ba;
$color-light1: #eeb765;
$color-dark: #f8c06b;
$text-light: whitesmoke;
$text-dark: rgb(80, 72, 72);
$color-dark-2: #d6873dc0;
