@import "../../styles/variables.scss";
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.img1 {
  width: 700px;
  height: 400px;
  z-index: -1000;
  background-image: url("/img1.jpg");
  background-size: cover;
  background-position: center center;
}
.img2 {
  width: 330px;
  height: 330px;
  margin-left: 40px;
  margin-top: -270px;
  background-image: url("/img2.jpg");
  background-size: cover;
  background-position: center center;
  border: 15px solid #ffffff;
  box-sizing: border-box;
}
.image {
  margin: 0 auto;
  animation: movein 1s ease-in-out;
}

.title {
  font-size: 70px;
  font-family: $font-4;
  span {
    font-size: larger;
    color: $color-dark;
  }
}

.subtitle {
  font-size: 20px;
  font-family: $font-4;
}

@keyframes movein {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
